body {
  font-family: "Verdana", sans-serif;
  color: #333;
  margin: 0 auto;
  line-height: 1.5;
  max-width: 100%;
  background: white;
  font-size: 28px;
  line-height: 32px;
  height: 100vh;
}

#occupancy {
	text-align: center;
}

#statusDisplay {
	text-align: center;
	border-style: solid;
	border-color: #eee;
	border-width: 4px;
	width: 608px;
	height: 100px;
}

.buttonWrapper {
	float: left;
}

.button {
  margin: 10px auto;

  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-color: #eee;

  border-width: 4px;

  width: 300px;
  height: 100px;
}

.button.active {
	border-style: outset;
	font-weight: bold;
}

#statusDisplay.open,
.button.open {
  background-color: #9e9;
}

.button.open.active {
  background-color: #0f0;
  border-color: #0f0;
}

#statusDisplay.closed,
.button.close {
  background-color: #f67575;
}

.button.close.active {
  background-color: #f00;
  border-color: #f00;
}

.displayNone {
	display: none;
}

.possibleStatus {
	text-transform: uppercase;
	font-weight: bold;
}

.vcenter {
	display: table
}

.vcenter>* {
	display: table-cell;
	vertical-align: middle;
}

#statusDisplay.open .possibleStatus.open,
#statusDisplay.closed .possibleStatus.closed {
	display: block;
}

#statusDisplay.open .possibleStatus.unknown,
#statusDisplay.closed .possibleStatus.unknown {
	display: none;
}

/* Loading Spinner */
.loader {
  border: 22px solid #e9e9e9; /* Light grey */
  border-top: 22px solid #101010; /* Dark Grey */
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 1.25s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -91px;
  margin-left: -91px;
  z-index: 0;
  visibility: hidden;
  opacity: 0.7;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* /Loading Spinner */
